html {
    background-color: #292a36;
    color: #dddddd;
    margin: 1% 10%;
}


.quote {
    background-color: #383a4a;
    margin: 0 auto;
    padding: 1px 1em;
    color: #b4d60b;
    width: 90%;
    font-size: 0.9em;
}

.footer {
    /* background-color: #000000; */
    margin-top: 3em;
    font-size: 0.7em;
}

a {
    color: #53a4f8;
}

a:active {
    color: #d705ff;
}

